/* Import Tailwind CSS */
@import "tailwindcss";

/* Custom styles for Green Theme */
@theme {
  --color-primary: #10b981; /* Emerald Green */
  --color-primary-hover: #047857; /* Darker Emerald */
  --color-secondary: #84cc16; /* Lime Green */
  --color-bgColor: #80cc46; /* Light Green */
  --color-text1: #1f2937; /* Dark Text */
  --color-PaleGreen: #e6efe8; /* Pale background green*/

  /* Custom Breakpoints */
  --breakpoint-xs: 300px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

/* Dark theme overrides */
@theme [data-theme="dark"] {
  --color-primary: #16a34a;
  --color-primary-hover: #15803d;
  --color-bg: #111827; /* Dark Background */
  --color-text: #f9fafb; /* Light Text */
}
/* Body Style*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0 0 2rem 0;
  line-height: 1.5;
  background-color: #ffffff;
  color: #333;
  max-width: 100vw;
}

/* Use Custom Breakpoints */
@media (min-width: var(--breakpoint-sm)) {
  /* Styles for sm and above */
  .my-class {
    font-size: 1.25rem;
  }
}

@media (min-width: var(--breakpoint-md)) {
  /* Styles for md and above */
  .my-class {
    font-size: 1.5rem;
  }
}

@media (min-width: var(--breakpoint-lg)) {
  /* Styles for lg and above */
  .my-class {
    font-size: 2rem;
  }
}

@media (min-width: var(--breakpoint-xl)) {
  /* Styles for xl and above */
  .my-class {
    font-size: 2.5rem;
  }
}
